h1 {
  color : blue;
}
body {
    background-color: beige;
}
ul { 
    font-size: 100%;
}
ul {
    font-style: italic;
}
ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul 
    {line-height: 40px;
}

